{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Contact{% endblock %}
</head>
<body>
{% block content %}
<h3>Вітаю!</h3>
Залиште контакти і ми вам зателефонуємо
<form action="{% url 'thx' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Готово</button>

</form>
<br>
<br>
<br>


{% if orders %}

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>phone</th>
        <th>data</th>
    </tr>
    {% for order in orders %}
    <tr>
        <th>{{ order.id }}</th>
        <th>{{ order.o_name }}</th>
        <th>{{ order.o_phone }}</th>
        <th>{{ order.o_date }}</th>
    </tr>
    {% endfor %}
</table>
{% else%}
Даних немає
{% endif %}
{% endblock %}
</body>
</html>